.receta__descripcion {
	font-size: 1.1875rem;
	line-height: 1.5; /*define la altura de la linea*/
	text-align: justify; /*comentado abajo*/
}

/* -Justify: define la distribucion de los elementos, el espacio entre y alrededor de los items "FLEX" (ver receta.css)
a lo largo el eje principal de su contenedor*/