.cabecera {
	align-items: center;       /*centrar item*/
	background-color: #f9f9f9;
	display: flex;                /*mantener todo a la misma altura*/
	justify-content: space-between;   
	padding-left: 2rem;
	padding-right: 2rem;
}

@media screen and (min-width: 0) {
	.cabecera {
		justify-content: center;
		padding: 0 1rem;
	}
}

@media screen and (min-width: 768px) {
	.cabecera {
		justify-content: space-between;
		padding: 0 5rem;
	}
}